Source: mailman
Section: mail
Priority: optional
Maintainer: Tollef Fog Heen <tfheen@debian.org>
Uploaders: Siggy Brentrup <bsb@debian.org>
Build-Depends: debhelper (>= 4.1.16), autoconf, python-dev, dpatch
Standards-Version: 3.6.1

Package: mailman
Architecture: any
Depends: ${shlibs:Depends}, ${debconf-depends}, python (>= 2.2.2.91-1), logrotate, cron (>= 3.0pl1-42), exim4 | mail-transport-agent, apache | httpd, debconf, ucf (>= 0.28), pwgen
Conflicts: suidmanager (<< 0.50), sendmail (<< 8.12.6)
Recommends: base-passwd (>= 1.3.0)
Suggests: spamassassin, python2.2-korean-codecs | python2.3-korean-codecs, python-japanese-codecs
Description: Powerful, web-based mailing list manager
 The GNU Mailing List Manager, which manages email discussion lists
 much like Majordomo and Smartmail. Unlike most similar products,
 Mailman gives each mailing list a web page, and allows users to
 subscribe, unsubscribe, etc. over the web.  Even the list manager can
 administer his or her list entirely from the web.
 .
 Mailman also integrates most things people want to do with mailing
 lists, including archiving, mail <-> news gateways, and so on.  It
 has all of the features you expect from such a product, plus
 integrated support for the web (including web based archiving),
 automated bounce handling and integrated spam prevention.
 .
 For more information see http://www.list.org/.
